/* Styles common for all elements*/
body{
	background-color: gainsboro;
	height: 100%;
    margin: 0;
}

.header{
	margin: 0 auto;
	padding: 20px 0 20px 0;

	left: 0;
	top: 0;
	width: 100%;
	background-color: #283593;
	height: 10%;
}

.footer{
	margin: 0 auto;
	padding: 20px 0 20px 0;

	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #283593;
	height: 10%;
}

#form-container{
	background-color: #fff;
	width: 35%;
	margin-top: 1%;
	margin-bottom: 1%;
	border: 1px solid black;
}

/* Register Form elements */
form{
	padding-top: 5%;
}

#rewRegForm{
	font-family: 'Overpass', sans-serif;
	font-weight: bold;
}

.row-content #rewRegForm{
	font-size: 26px;
	text-align: center;
}

.labelText{
	font-family: 'Source Sans Pro', Bold Italic, sans-serif;
	color: #283593;
	font-weight: bold;
	margin-left: 25px;
}

.requiredFields:after {
  content: " *";
	color: #ef6c00;
}

.form-control{
	border: 1px #ef6c00 solid;
}

#registerForm input{
	margin-left: 25px;
}

.modalForm-control{
	border: 1px #ef6c00 solid;
}

.dobFields{
	font-family: 'Overpass', serif;
	font-size: 12px;
	margin-left: 25px;
}

#genM{
    width: 75px;
    height: 75px;
    padding: 10px 16px;
    border-radius: 40px;
	border: 2px solid #283593;
    line-height: 1.33;
	opacity: 0.5;

	margin-left: 25px;
	font-family: 'Overpass', sans-serif;
	font-size: 24px;
}

#genF{
	width: 75px;
	height: 75px;
	padding: 10px 16px;
	border-radius: 40px;
	border: 2px solid #283593;

	line-height: 1.33;
	opacity: 0.5;

	margin-left: 25px;
	font-family: 'Overpass', sans-serif;
	font-size: 24px;
}

.radioBtn{
	background-color: #283593;
	position: absolute;
	left: 45px;
	top: 50px;
}

.form-check-label{

}

#tAndc{
	font-family: 'Overpass', sans-serif;
	text-align: justify-all;
	margin-left: 45px;
	margin-top: 5px;
}

#registerBtn{
	margin-left: 25px;
}

/* Register Form elements */

#profileContainer{
	border: 1px solid #dbd8cf;
	background: linear-gradient(#eee  0%, #fff 10%);
}

#info h1{
	text-align: center;
	font-family: 'Overpass', sans-serif;
	font-style: italic;
}

#templatePanel{
	padding-bottom: 4px;
	justify-content: center;
	height: 20%;
	display: none;
}

#itemTemplate {
	display:flex;
	align-items:center;
	justify-content: center;
	/*height: 20%;*/
	margin-bottom: 1px;
	padding: 1em;
	height: 5%;
	border: 1px solid #dbd8cf;
	background: linear-gradient(#eee  0%, #fff 10%);
}

#title{
	font-size: 16px;
	color: #283593;
}

#item{
	font-family: 'Overpass', sans-serif;
	font-style: italic;
	font-size: 14px;
	color: #283593;
}

#data{
	text-align: center;
	font-family: 'Overpass', sans-serif;
	font-style: italic;
	font-size: 14px;
	color: #283593;
}

#editTemplate{
	padding: 1em;
	height: 5%;
	margin-top: 1px;
	border: 1px solid #dbd8cf;
	background: linear-gradient(#eee  0%, #fff 10%);
	display:none;
    align-items:center;
}

#templatePanel_dob{
	padding-bottom: 4px;
	justify-content: center;
	height: 20%;
	display: none;
}

#templatePanel_gender{
	padding-bottom: 4px;
	justify-content: center;
	height: 20%;
	display: none;
}

#templatePanel_pass{
	padding-bottom: 4px;
	justify-content: center;
	height: 20%;
	display: none;
}

.alert{
	display: none;
}

/* Modal Style */
.modal-title{
	justify-content: center;
	font-family: 'Overpass', sans-serif;
	font-weight: bold;
}

.control-label{
	font-family: 'Source Sans Pro', Bold Italic, serif;
	color: #283593;
}

